.Container {
    align-items: center;
    background-color: #fff;
    color: #000;
    color-scheme: light;
    display: flex;
    height: 100%;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.leftDivContainer {
    border-right: solid #e7e7e7;
    height: 100%;
    width: 40%;
}

.rightDivContainer {
    height: 100%;
    width: 60%;
    margin: 10pt;
}

.chatListContainer {
    height: 90%; 
}

.navBarContainer {
    height: 10%; 
}

.messageContainer {
    height: 90%;
    overflow: scroll;
    display: flex;
}

.inputContainer {
    height: 10%;
}

.inputStyle {
    border-color: gainsboro;
    border-style: solid;
    border-radius: 4pt;
}