.Container {
    align-items: center;
    background-color: #fff;
    color: #000;
    color-scheme: light;
    display: flex;
    height: 100%;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.leftDivContainer {
    border-right: solid #e7e7e7;
    height: 100%;
    width: 40%;
}

.rightDivContainer {
    height: 100%;
    width: 60%;
    margin: 10pt;
}

.chatListContainer {
    height: 90%; 
}

.navBarContainer {
    height: 10%; 
}

.messageContainer {
    height: 90%;
    overflow: scroll;
    display: flex;
}

.messageListContainer {
    width: 100%;
}

.inputContainer {
    height: 10%;
}

.inputStyle {
    border-color: gainsboro;
    border-style: solid;
    border-radius: 4pt;
}


/* Login View */
.loginContainer {
    margin: 0;
    padding: 0;
    font-family: sana-fserif;
    background: #34495e;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    width: 100%;
    height: 100%;
}

.box h1{
    color: white;    /* 设置字体颜色 */
    text-transform: uppercase;  /* 将字体全部设置成大写字母  */
    font-weight: 500;  /*  设置字体粗细   */
}

.box a{
    color: white;    /* 设置字体颜色 */
    text-transform: uppercase;  /* 将字体全部设置成大写字母  */
    font-weight: 500;  /*  设置字体粗细   */
    font-size: 10pt;
    margin-left: 10pt;
}

.box input[type="text"],.box input[type="password"]{
    border-radius: 24px;
    border: 2px solid #3498db;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;     /* 设置输入框中竖线的颜色 */
    transition: 0.25s;   /* 设置元素过渡效果 */
  }


.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

/* 设置提交按钮的样式 */
.box input[type="submit"]{
    border-radius: 24px;
    border: 2px solid #2ecc71;
    background: none;
    /* display: block; */
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;     /* 设置输入框中竖线的颜色 */
    transition: 0.25s;
    cursor: pointer;    /* 设置光标的样式 */
  }

  /* 设置鼠标移人到按钮上的样式 */
.box input[type="submit"]:hover{
    background: #2ecc71;
}

